.filter_cards {
  display: flex;
  flex-direction: column;
  background: #fffefe;
  margin: 0.5rem 0.5rem;
  border-radius: 0.25rem;
}

.filter_card {
  display: flex;
  flex-direction: column;
}

.filter_section_header {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: clamp(0.5rem, 0.5rem + 1vw, 1.5rem);
}

.filter_buttons_groups {
  display: flex;
  justify-content: space-between;
}

.filter__select_launchyear {
  height: 2rem;
  margin: 0.5rem;
  padding: 0 0.5rem;
  border: thin solid grey;
  border-radius: 0.25rem;
  cursor: pointer;
}

@media all and (min-width: 700px) {
  .filter_cards {
    margin: 0.75rem 0;
  }
}

@media all and (min-width: 1441px) {
  .filter_card {
    width: 50vw;
  }
}
