.mission_cards {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
}

@media all and (min-width: 700px) {
  .mission_cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media all and (min-width: 1441px) {
  .wrapper_mission_cards {
    max-width: 50vw;
  }

  .mission_cards {
    justify-content: space-between;
  }
}
